<%= form_with(model: employee, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Save', class: 'btn btn-primary' %>
    <% if @employee.present? %>
    <%= link_to 'Back', employee, class: 'btn btn-secondary' %>
    <% else %>
    <%= link_to 'Back', employees_path, class: 'btn btn-secondary' %>
    <% end %>
  </div>
<% end %>
